@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-family: 'Roboto', sans-serif;
}

.team-background {
  padding: 55px 0;
  padding-bottom: 880px;
  background-image: url('images/ham1.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

.md-display-2 {
  color: white;
}

.character-logo {
  padding-top: 25px;
}

.hidden {
  opacity: 0;
}

.social-bar {
  right: 0;
  width: 60px;
  z-index: 100;
  bottom: 0;
  background-color: white;
  border: solid 2px #1F4E80;
  border-radius: 5px;
  position: fixed;
  float: right;
}

.fa-facebook-square {
  color: #3C5A96;
}

.fa-twitter-square {
  color: #2AA3EF;
}

.fa-linkedin-square {
  color: #2588BB;
}

/* Navbar */

.navbar {
  background-color: #1F4E80;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  opacity: .95;
  border-bottom: 0.5px solid gray;
}

.md-raised {
  background-color: white;
  color: #1F4E80;
  padding: 5px 19px;
  margin-left: 0;
}

.learn-more-button-section {
  margin-top: 30px;
}

.navbar p {
  color: white;
  padding: 20px;
}

.navbar p a {
  text-decoration: none;
  color: white;
}

.currentLink {
    color:#baada7;
}

.currentPage {
  color: gold !important;
}

.navLink {
  background-color: transparent;
  color: white;
  border: none;
}

/* Landing page section */

.landing {
  height: 85%;
  opacity: .9;
  max-height: 800px;
  color: white;
}

.title {
  margin-top: 15%;
  margin-left: 3%;
  color: white;
  font-weight: 600;
}

.main-logo {
  width: 700px;
}

.title-tag {
  color: #F0F0F0;
  margin-left: 4%;
  color: white;
  font-size: 22px;
  max-width: 72%;
  font-weight: 500;
}

/* About section */

.about {
  background-color: #2A5685;
  width: 100%;
  z-index: 9;
  min-height: 300px;
  color: white;
}

.thumb-images {
  height: 100%;
  width: 450px;
}

.card-content {
  padding-left: 40px;
}

/* Team Section */

.team {
  background-color: #1F4E80;
  width: 100%;
  z-index: 9;
  min-height: 280px;
  color: white;
}

/* Events Section */

.events {
  background-color: #1F4E80;
  width: 100%;
  z-index: 9;
  min-height: 300px;
  color: white;
}

.event {
  display: inline;
}

.learn-more-button {
  float: right;
  display: inline-block;
  background-color: #1F4E80;
  color: white;
}

/* Comments Section */
.comments {
  padding: 50px;
  background-color: #1F4E80;
}

.comments p {
  color: white;
}

/* Sponsors Section */

.sponsors {
  color: black;
  background-color: white;
}

#coc-image-link {
  cursor: pointer;
}

/* Logo */

.thumb-logo {
  height: 25px;
  width: 25px;
}

.temporary-logos {
  min-width: 55px;
  width: 200px;
  margin-top: 20px;
}

.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.temporary-logos-horizontle {
  margin-top: 50px;
}

.logo {
  float: right;
  margin: 50px;
  height: 150px;
  width: 150px;
}

.events-section {
  max-width: 400px;
  margin-top: 10%;
  background: transparent;
  color: black;
  opacity: 1;
}

.event-card {
  min-width: 400px;
}

.events-section md-card {
  background-color: white !important;
  color: black;
  opacity: 1;
  margin-left: -40px;
  border: solid 8px #1F4E80;
  width: 96%;
  border-radius: 5px;
  min-width: 300px;
}

/* Contact */
.contact-card {
  width: 60%;
  height: 70%;
  text-align: center;
  margin: auto;
  opacity: .95;
  margin-top: 110px;
  background-color: #ffffff;
  border-radius: 8px;
}

.md-display-1 {
  color: white;
}

.section-title {
  margin-top: 45px;
}

.contact-input {
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
  width: 244px;
  color: black;
}

.md-input-container:not {
  color: black;
}

.contact-text-input {
  padding: 4px;
  height: 70px;
  border-radius: 3px;
  width: 70%;
  color: black;
}

.submit-contact {
  padding: 4px;
}

/* Character trait */
.character-trait-section {
  background-color: transparent;
  text-align: center;
  margin: 20px;
}

.character-trait {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  font-style: none;
}

/* News section */

.news-title {
  text-align: center;
  padding-top: 80px;
}

.news-title h1 {
  text-align: center;
  color: white;
}

.news-card {
  background-color: white;
  color: black;
  opacity: .95;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.news-card h1 {
  z-index: 120;
  text-align: center;
}

.news-card h1 a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.news-card p {
  z-index: 120;
  color: black;
  padding: 20px;
}

@media (max-width: 1000px) and (min-width: 560px) {
    .navbar p {
      padding:5px;
    }
    .navLink {
      font-size: 15px;
    }
    .md-display-2 {
      font-size: 20px;
    }
    .events-section {
      display: none;
    }

    .main-logo {
      width: 600px !important;
    }
}

@media (max-width: 560px) and (min-width: 260px) {
    .navbar p {
      padding:5px;
    }
    .navLink {
      font-size: 10px;
    }
    .md-display-2 {
      font-size: 13px;
    }
    .events-section {
      display: none;
    }
    .character-trait {
      padding:10px;
    }
    .title {
      margin-top: 40%;
    }
    .temporary-logos {
      width: 100px;
    }
    .title-tag {
      max-width: 85%;
    }
    .main-logo {
      width: 360px !important;
    }
}
