@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('images/hamilton2.jpg');
  height: 110%;
  width: 100%;
  position: relative;
}

/* Navbar */

.navbar {
  background-color: #1B277C;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  opacity: .95;
  border-bottom: 0.5px solid white;
}

.navbar p {
  color: white;
  padding: 20px;
}

.navbar p a {
  text-decoration: none;
  color: white;
}

/* Landing page section */

.landing {
  height: 95%;
  opacity: .9;
  max-height: 800px;
  color: white;
}

.title {
  margin-top: 20%;
  margin-left: 3%;
  color: black;
}

.title-tag {
  color: #F0F0F0;
  margin-left: 4%;
  color: black;
  max-width: 50%;
}

/* About section */

.about {
  background-color: #303F9F;
  width: 100%;
  z-index: 9;
  min-height: 300px;
  color: white;
}

.thumb-images {
  height: 100%;
  width: 450px;
}

.card-content {
  padding-left: 40px;
}

.currentLink {
    color:#baada7;
}

/* Team Section */

.team {
  background-color: #3949AB;
  width: 100%;
  z-index: 9;
  min-height: 280px;
  color: white;
}

/* Events Section */

.events {
  background-color: #3F51B5;
  width: 100%;
  z-index: 9;
  min-height: 300px;
  color: white;
}

/* Comments Section */
.comments {
  padding: 50px;
  background-color: #31429D;
}

.comments p {
  color: white;
}

/* Sponsors Section */

.sponsors {
  color: black;
}

/* Logo */

.thumb-logo {
  height: 25px;
  width: 25px;
}

.temporary-logos {
  width: 150px;
  border-radius: 10px;
}

.logo {
  float: right;
  margin: 50px;
  height: 150px;
  width: 150px;
}
