@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: white;
}

.team-background {
  padding: 55px 0;
  padding-bottom: 880px;
  background-image: url('images/ham1.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

/* Navbar */

.navbar {
  background-color: #1F4E80;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  opacity: .95;
  border-bottom: 0.5px solid gray;
}

.navbar p {
  color: white;
  padding: 20px;
  margin-top: 15px;
}

.navbar p a {
  text-decoration: none;
  color: white;
}

.currentLink {
    color:#baada7;
}

.currentPage {
  color: gold !important;
}

.navLink {
  background-color: transparent;
  color: white;
  border: none;
}

.small-view-text {
  display: none;
}

/* Team section */

br { display: block; line-height: 1.6em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 3.6em;
  line-height: 1.4em;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 3.0em;
  line-height: 1.2em;
  margin-bottom: 4px;
  color: white;
  font-weight: bold;
}

h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 11px;
  color: white;
  font-weight: normal;
}

p {
  display: block;
  font-size: 1.6em;
  line-height: 1.4em;
  margin-bottom: 15px;
  color: white;
}

a {
  color: #739ecf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profilepic {
  opacity: .9;
  border-radius: 8px;
  background-color: black;
}

.profilepic:hover {
  opacity: 1;
  box-shadow: 0 0 3px 3px gray;
}

/** page structure **/
#w {
  display: block;
  margin: 20px auto;
  height: 100%;
  padding: 50px 10px;
  padding-left: 50px;
}

#w p {
  font-style: italic;
}

#teamcontent {
  display: none;
  margin-bottom: 15px;
  margin-top: 50px;
}

.team-heading {
  text-align: center;
  padding-top: 80px;
}

md-content {
  margin: 0 auto;
}

/** team member list **/
.team {
  display: block;
}

.team li {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.team li:hover {
  cursor: pointer;
}

.team li.last { margin-right: 0; }

.team .hcontent {
  display: none;
}

/** hidden team content **/
#teamcontent .bigimg {
  display: block;
  float: left;
  margin-right: 30px;
  padding: 30px;
}

#teamdetails {
  display: block;
  float: left;
  width: 600px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


@media (max-width: 1000px) and (min-width: 560px) {
    .navbar p {
      padding:5px;
    }
    .navLink {
      font-size: 15px;
    }
    .md-display-2 {
      font-size: 20px;
    }
    .events-section {
      display: none;
    }
    #teamcontent {
      margin-top: 0;
    }
    .small-view-text {
      display: block;
    }
    #teamdetails {
      width: 100% !important;
    }
    .main-logo {
      width: 600px !important;
    }
}

@media (max-width: 560px) and (min-width: 260px) {
    .navbar p {
      padding:5px;
    }
    #teamdetails {
      width: 100% !important;
    }
    .small-view-text {
      display: block;
    }
    .navLink {
      font-size: 10px;
    }
    .md-display-2 {
      font-size: 13px;
    }
    .events-section {
      display: none;
    }
    .character-trait {
      padding:10px;
    }
    .profilepic {
      height: 75%;
      width: 75%;
    }
    #teamcontent {
      margin-top: 0;
    }
    #w {
      display: block;
      margin: 20px auto;
      height: 100%;
      padding: 20px 10px;
      padding-left: 45px;
    }

    .title {
      margin-top: 40%;
    }
    .temporary-logos {
      width: 100px;
    }
    .title-tag {
      max-width: 85%;
    }
    .main-logo {
      width: 360px !important;
    }
}
